@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background: #16161a;
    color: #fffffe;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;

}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    
}

li, a:hover {
    color: #FFC1CC;
    transition: ease-in-out 200ms;
}
button {
    padding: 9px 25px;
    background-color: #7f5af0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px #6248ae;
}

li {
    display: inline-block;
    padding: 0px 20px;
}

#homepage, #accomplishments, #abtme, #parauno, #photome {
    text-align: center;
}

.container {
    width: 80%;
    margin: 50px auto;
    
}

.contact-box {
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
    color: #16161a;
    background: white;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px ;
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #16161a;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #16161a;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #7f5af0;
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}
